body{
  background-color: #f7f0d2;
  text-align: center;
  overflow-x: hidden;
  max-width: 100%;
  padding-left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

div{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

img{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}

p{
  font-family: Gayathri;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

div{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.title-name{
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  line-height: 3.75rem;
}

.title-subtext{
  position: relative;
  transform: translate(40px,0vw);
  text-align: center;
  font-size: 2.75rem;
  font-weight: bold;
  vertical-align: bottom;
}

.title-text{
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5px;
}

.star-1{
  position: relative;
  transform-origin: center;
  transform: translate(-300px, 150px);
  display: inline-block;
  vertical-align: bottom;
  scale: 80%;
}

.title-button{
  margin-top:15px;
  border-radius: 2;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  background-color: #f7f0d2;
  transition: all 0.15s;
}

.title-button:hover{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4;
  background-color: #94ff9f;
}

.title-button:active{
  background-color: black;
  color: #94ff9f;
  border-color: #94ff9f;
}

h1{
  font-family: Gayathri;
  font-weight:bold;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 3rem;
  color:#94ff9f;
}

.para{
  color:#f7f0d2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.15rem;
  text-align: left;
}

.grid{
  margin: 0;
  padding: 0;
}